Repository Nick2bad4u/OhMyPosh-Atomic-Enhanced: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-theme, validate-palette, normalize-palettes, test-themes

validate-theme:
  name: Validate Oh My Posh theme
  entry: pwsh -File ./scripts/pre-upload-validation.ps1
  language: system

validate-palette:
  name: Validate palette references
  entry: pwsh -File ./scripts/validate-palette.ps1
  language: system

normalize-palettes:
  name: Ensure palettes are normalized
  entry: pwsh -File ./scripts/Normalize-Palettes.ps1 -Check
  language: system

test-themes:
  name: Run theme tests
  entry: pwsh -File ./scripts/Test-Themes.ps1
  language: system

fix: correct git-cliff release notes target
  cliff.toml
Due: none

chore: update github agent instruction paths
  .github/agent-commit-message-instructions.md
  .github/agents/BeastMode-OMP.agent.md
Due: none

Add Dependabot auto-merge workflow
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/greetings.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/rebase.yml
  .github/workflows/release-themes.yml
  .github/workflows/summary.yml
  .github/workflows/theme-tests.yml
  .github/workflows/trufflehog.yml
  .github/workflows/updateChangeLogs.yml
Due: none

Update Dependabot auto-merge workflow pin
  .github/workflows/auto-merge-dependabot-caller.yml
Due: none

fix: repair ci validation failures
  README.md
  test_OhMyPosh-Atomic-Custom.json
Due: validate-theme, validate-palette, normalize-palettes, test-themes

👷 [ci] Fix release theme shell lint warnings
  .github/workflows/release-themes.yml
Due: none

🛠️ [fix] Remove unused event triggers from greetings workflow - Eliminated 'discussion', 'project', and 'fork' event triggers to streamline workflow
  .github/workflows/greetings.yml
Due: none

👷 [ci] Use shared workflow callers
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review-enhanced-caller.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks-scan-enhanced-caller.yml
  .github/workflows/gitleaks.yml
  .github/workflows/trufflehog-scan-caller.yml
  .github/workflows/trufflehog.yml
Due: none

📝 [docs] Add repository agent instructions
  .github/AGENTS.md
  1_shell/AGENTS.md
  AGENTS.md
  assets/AGENTS.md
  atomic/AGENTS.md
  atomicBit/AGENTS.md
  cleanDetailed/AGENTS.md
  docs/AGENTS.md
  experimentalDividers/AGENTS.md
  ohmyposh-official-themes/AGENTS.md
  scripts/AGENTS.md
  slimfat/AGENTS.md
Due: none

👷 [ci] Narrow release theme path filters
  .github/workflows/release-themes.yml
Due: none

🛠️ [fix] format _config.yml
  _config.yml
Due: none

👷 [ci] Serialize release theme uploads
  .github/workflows/release-themes.yml
Due: none

🔧 [build] Synchronize ExperimentalDividers helper variants
  OhMyPosh-Atomic-Custom-ExperimentalDividers.Fish.json
  OhMyPosh-Atomic-Custom-ExperimentalDividers.NoNetwork.json
  OhMyPosh-Atomic-Custom-ExperimentalDividers.NoShellIntegration.json
Due: test-themes

📝 [docs] Document palette overlay inheritance
  1_shell/AGENTS.md
  AGENTS.md
  README.md
  THEME-GENERATOR-README.md
  atomic/AGENTS.md
  atomicBit/AGENTS.md
  cleanDetailed/AGENTS.md
  docs/QUICK-REFERENCE.md
  docs/THEME-GENERATION-TOOLS.md
  docs/THEME-GENERATOR-README.md
  experimentalDividers/AGENTS.md
  scripts/AGENTS.md
  slimfat/AGENTS.md
Due: none

👷 [ci] (release) Guard git-cliff note generation
  .github/workflows/release-themes.yml
  .github/workflows/updateChangeLogs.yml
Due: none

✨ [feat] Generate synchronized theme helper variants
  .github/workflows/release-themes.yml
  .pre-commit-config.yaml
  AGENTS.md
  OhMyPosh-Atomic-Custom-ColorCycle.json
  OhMyPosh-Atomic-Custom-ExperimentalDividers.ColorCycle.json
  README.md
  atomic/AGENTS.md
  docs/QUICK-REFERENCE.md
  docs/THEME-GENERATION-TOOLS.md
  docs/THEME-GENERATOR-README.md
  experimentalDividers/AGENTS.md
  scripts/AGENTS.md
  scripts/Dev-Generate-All.ps1
  scripts/Generate-ExperimentalDividers.ps1
  scripts/Generate-ThemePreviews.ps1
  scripts/Make-ColorCycleVariant.ps1
  scripts/Make-ExtendedVariant.ps1
  scripts/Test-Themes.ps1
  scripts/cycle-themes.ps1
  scripts/preview-themes.ps1
  scripts/variants/ColorCycle.variant.json
  scripts/variants/ExperimentalDividers.Extended.variant.json
Due: test-themes

🛠️ [fix] Stabilize sysinfo right prompt background
  OhMyPosh-Atomic-Custom-ExperimentalDividers.json
Due: test-themes

🧹 [chore] Repair pre-commit file handling
  .pre-commit-config.yaml
  cliff.toml
  docs/FAQ-AND-TIPS-TRICKS.md
  starship-atomic-enhanced.toml
Due: none

✨ [feat] Add native gradient divider variants
  .github/workflows/release-themes.yml
  AGENTS.md
  OhMyPosh-Atomic-Custom-ExperimentalDividers.Gradient.json
  OhMyPosh-Atomic-Custom-ExperimentalDividers.GradientRamps.json
  README.md
  THEME-GENERATOR-README.md
  assets/theme-previews/OhMyPosh-Atomic-Custom-ExperimentalDividers.GradientRamps.png
  docs/DIVIDERS-COLOR-TRANSITIONS-GUIDE.md
  docs/QUICK-REFERENCE.md
  docs/THEME-GENERATION-TOOLS.md
  docs/THEME-GENERATOR-README.md
  experimentalDividers/AGENTS.md
  scripts/AGENTS.md
  scripts/Dev-Generate-All.ps1
  scripts/Generate-ExperimentalDividers.ps1
  scripts/Generate-ThemePreviews.ps1
  scripts/Make-GradientRampsVariant.ps1
  scripts/Make-GradientVariant.ps1
  scripts/Test-Themes.ps1
  scripts/cycle-themes.ps1
  scripts/preview-themes.ps1
  scripts/variants/ExperimentalDividers.Gradient.variant.json
  scripts/variants/ExperimentalDividers.GradientRamps.variant.json
  test_OhMyPosh-Atomic-Custom.ExperimentalDividers.json
Due: test-themes

🛠️ [fix] Harden theme generation and release safeguards
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/pssecret-scanner.yml
  .github/workflows/rebase.yml
  .github/workflows/release-themes.yml
  .github/workflows/scorecards.yml
  .github/workflows/theme-tests.yml
  .github/workflows/updateChangeLogs.yml
  .ignoresecrets
  docs/THEME-GENERATION-TOOLS.md
  ohmyposh-official-themes/themes/larserikfinholt.omp.json
  scripts/Dev-Generate-All.ps1
  scripts/Generate-AllThemes.ps1
  scripts/Generate-AtomicCustomFromExperimentalDividers.ps1
  scripts/Generate-ExperimentalDividers.ps1
  scripts/Generate-ThemePreviews.ps1
  scripts/Make-ColorCycleVariant.ps1
  scripts/Make-ExtendedVariant.ps1
  scripts/Make-FishVariant.ps1
  scripts/Make-GradientVariant.ps1
  scripts/Make-NoNetwork.ps1
  scripts/Make-NoShellIntegration.ps1
  scripts/Merge-OhMyPoshThemes.ps1
  scripts/New-ExperimentalDividersThemeWithPalette.ps1
  scripts/New-ThemeWithPalette.ps1
  scripts/Normalize-Palettes.ps1
  scripts/Set-PaletteVisualDesigns.ps1
  scripts/Sync-ThemeTemplatesFromAtomicCustom.ps1
  scripts/Test-PaletteVisualQuality.ps1
  scripts/Test-ScriptFailureContracts.ps1
  scripts/Test-ThemePreviewExport.ps1
  scripts/Test-Themes.ps1
  scripts/cycle-themes.ps1
  scripts/pre-upload-validation.ps1
  scripts/preview-themes.ps1
  scripts/sync-official-themes.ps1
  scripts/theme-functions.ps1
  scripts/validate-palette.ps1
Due: test-themes

🔒 [fix] Resolve cloud quality gate findings
  .github/workflows/scorecards.yml
  scripts/Test-Themes.ps1
  scripts/sync-official-themes.ps1
Due: test-themes

🔒 [fix] Pin reusable workflow dependencies
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review-enhanced-caller.yml
  .github/workflows/gitleaks-scan-enhanced-caller.yml
  .github/workflows/trufflehog-scan-caller.yml
Due: none

Path conditions:
  validate-theme: any of: OhMyPosh-Atomic-Custom\.json$
  validate-palette: any of: OhMyPosh-Atomic-Custom\.json$
  normalize-palettes: any of: (color-palette-alternatives\.json|OhMyPosh-Atomic-Custom\.json)$
  test-themes: any of: (OhMyPosh-Atomic-.*\.json$|.*-Enhanced\.omp\.json$|scripts/Test-Themes\.ps1$)
